@import 'reset';
@import 'variables/global';

body {
    overflow: hidden;
    font: var(--font-s);
}

.app {
    color: black;
    background: var(--bg-color);
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
