@import 'reset';
@import 'variables/global';

@font-face {
    font-family: Light;   /* Can be any text */
    src: local('HeliosExtC');
    src: url('../../shared/fonts/heliosextc.otf') format('otf');
}

body {
    overflow: hidden;
    font: var(--font-large-s);
}

.app {
    color: black;
    background: var(--bg-color);
    min-height: 100vh;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
