.Page {
    opacity: 0;
    flex-grow: 1;
    height: 100%;
    overflow: hidden auto;
    padding: 20px 30px;
    width: 100%;
    flex-shrink: 100;
    transition: opacity 0.2s ease-in;
}

.mount {
    opacity: 1;
}
