.LoginPage {
    height: 80vh;
}

.loginFormWrap {
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

.content {
    padding: 50px;
    box-shadow: 0 2px 3px 1px rgb(34 60 80 / 10%);
    border-radius: 10px;
}
