.card {
    width: 100%;
}

.content {
    padding: 10px 20px;
}

.username {
    color: #71aaeb;
    margin-left: 70px;
}

.chip {
    max-width: 200px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 8%);
    white-space: normal
}

.active {
    background-color: #71aaeb;
    color: white;
}