.MainPage {
    margin-top: 40px;
}

.mainPageContent {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 50px;
}

.headerContent {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.messagesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    border: 1px solid #eee;
    height: 85%;
    border-radius: 10px;
    overflow-y: auto;
}